.info{   
      &__button{
            box-shadow: 5px 5px 10px rgb(199, 197, 197);
            background: linear-gradient(to top, #9356DC,#FF79DA);
            padding: 20px 50px ;
            margin-top: 20px;
            margin-bottom: 20px;
            @include border-radius (35px);
            color: white;
            font-size: 20px;
            cursor: pointer;
            transition: 0.3s;
      }
      &__button:hover{
            transform: scale(1.04);
            background: linear-gradient(to top, #bc89fa,#f09dd8);
            box-shadow: 5px 5px 10px rgb(158, 157, 157);
      }
                  @media #{$mobile}{
                        &__button{
                        font-size: 15px;
                        padding: 18px 30px;
                        }
                  }
}
.functioning{
      &__btn{
            position: relative;
            box-shadow: 5px 5px 10px rgb(199, 197, 197);
            padding: 25px 0;
            background-color: #f6f6f6;
            margin-right: 40px;
            margin-bottom: 40px;
            margin-top: 10px;
            @include border-radius (20px);
            cursor: pointer;
            width: 18%;
            text-align: center;
            transition: 0.3s;
      }
      .functioning__btn:hover{
                  background-color: #f2eafd;
                  transform: scale(1.04);
                  
            .functioning__icon{ 
                  color: $color-primary;
            }
      }  
            @media #{$mobile}{
                  &__btn{
                        margin-bottom: 20px;
                  }
            }
}
.command-btn {
      display: flex;
      justify-content: center;
            &__command{    
                  border: $color-primary;
                  background: linear-gradient(to top, #9356DC,#FF79DA);
                  padding: 20px 80px ;
                  @include border-radius (35px);                  color: white;
                  font-size: 20px;
                  font-family: $font-familly-text;
                  cursor: pointer;
                  margin: 50px 0;
                  transition: 0.3s;
                        &:hover{
                              transform: scale(1.04);
                              background: linear-gradient(to top, #bc89fa,#f09dd8);
                              box-shadow: 5px 5px 10px rgb(158, 157, 157);
                        }
            }
}