.footer{
      background-color: #302e2e;
      display: block;
      bottom: 60px;
            &__logo {
            font-size: 30px;
            font-weight: 50;
            font-family: "shrikhand", "cursive";
            color: white;
            padding-top: 10px;
            padding-left: 30px;
            }
            &__list{
            color: white;
            display: flex;
            flex-direction: column;
            list-style: none;
            }
            &__element{ 
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            }
            &__text{
                  padding-left: 10px;
            }
}