.footer{
      background-color: #302e2e;
      display: block;
      padding: 25px 0 25px 30px;
            &__logo {
            font-size: 30px;
            font-family: "shrikhand", "cursive";
            color: white;
            }
            &__list{
            color: white;
            display: flex;
            flex-direction: column ;
            padding: 15px 0;
            }
            &__element{ 
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            margin: 10px 0;
            }
            &__text{
                  padding-left: 0px;
                  color: white;
                  text-decoration: none;
            }
            a{
                  text-decoration: none;
                  text-align: left;
            }
            a:hover{
                  transform: scale(1.03);
            }
            li i{
                  display: flex;    
            }
}
.footer i{
      padding-right: 20px;
}
