.footer{
      background-color: #302e2e;
      display: block;
     padding: 25px;
   
            &__logo {
            font-size: 30px;
            font-weight: 50;
            font-family: "shrikhand", "cursive";
            color: white;
            
            }
            &__list{
            color: white;
            display: flex;
            flex-direction: column ;
            padding: 5px;
         
          
            }
            &__element{ 
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            padding-left: 0px;
            }
            &__text{
                 padding-left: 10px;
                  color: white;
                  text-decoration: none;
                  
            }
            a{
                  text-decoration: none;
                  text-align: left;
                  
            }
            a:hover{
                  transform: scale(1.03);
            }
}