$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;



.header {
      text-align: center;
      display: block;
      margin: 0;
            &__logo{
            font-family: "shrikhand", "cursive";
            width: 250px;
            margin-top: 20px;
      }
            &__harrow{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: left;
            font-size: 25px;
            text-decoration: none;
            margin-top: 30px;
            margin-left: 20px;
            color: black;
}
            &__harrow:hover{
            color: $color-primary;
      }
@media #{$mobile} {
      width: 100%;
}



}